

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@100;300;500;600&display=swap');
:root {

  --heading-font: 'Berkshire Swash', serif;
  --paragraph-font: Poppins, Helvetica, sans-serif;

  --headline-color-on-white: #C25700  ;  /* headlines on a white background */ 
  --headline-color-on-color: #442A00  ; /* headlines on a colored background */ 
  --paragraph-color-on-white: #442A00 ; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #FEFEFE; /* paragraph text on a colored background */ 
  --paragraph-background-color: #C25700  ;
  --nav-link-color:  #C25700;
  --nav-background-color: #442A00;
  --nav-hover-link-color: #442A00;
  --nav-hover-background-color: #FFF2E7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color:  #FFF2E7;
 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  text-align: center;
  margin: 1rem 0 .5rem;
  
}

nav {
  list-style-type: none;
  display: flex;
  background-color: var(--nav-background-color);
  font-family: var(--paragraph-font);
  line-height: 3em;
  font-size: 1.2em;
  width: 100%;
  position: fixed;
  top: 0;
  justify-content:left;
  align-items: center;
}

nav a {
  padding:0 2em;
  min-width: 100px;
  text-decoration: none;
  
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  border-radius: 5px;
}
nav a img{
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}

main h2{
  margin: 0 230px;
  padding: 2px;
  background-color: #442A00;
  border-radius: 5px;
}

article {
  margin-bottom: 1rem;
}

article div {
  margin-bottom: .5rem;
  text-align: right;
}

footer {
  background-color: var(--nav-background-color);
  text-align: center;
  line-height: 3em;
  width: 100%;
  bottom: 0; 
}

footer p{
  color: var(--paragraph-background-color);
  font-family: var(--paragraph-font);
}

#btnSearch{
  width: 80px;
  height: auto;
  font-size: 15px;
  box-shadow: 0 0 30px #C25700;
  background-color: #442A00;
  border-radius: 5px;
  color: #C25700;
  font-family: var(--heading-font);
  margin: .5rem;
}

#recipes {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: .5rem;
    align-items: center;
    margin-bottom: 3rem;
}

#recipes article {
  height: 250px;
  margin: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#recipes img {
  width: 250px;
  height: 180px;
  box-shadow: 0 0 30px #C25700;
  margin: .5rem;
  border-radius: 15px;
}

#recipes button {
  width: 100px;
  height: auto;
  font-size: 20px;
  box-shadow: 0 0 30px #C25700;
  background-color: #442A00;
  border-radius: 5px;
  color: #C25700;
  font-family: var(--heading-font);
  margin: .5rem;
}

#gridly{
  margin-top: 180px;
}

#sortBy option:disabled {
  font-style: italic;
  padding: 1rem;
  background-color: #111;
  color: #eee;
}

#sortBy{
  appearance: none;
  padding: .5rem;
  background-color:#C25700;
  font-family: var(--paragraph-font);
  font-size: 1em;
  color: #444;
  font-weight: 700;
  margin: 1rem auto;
  width: 200px;
  height: 105px;
  border: 1px solid rgba(0, 0, 0, .2);
  text-align: center;
  border-radius: 5px;
}

#searchBy {
  appearance: none;
  display: flexbox;
  padding: .5rem;
  background-color:#C25700;
  font-family: var(--paragraph-font);
  font-size: 1em;
  color: #444;
  font-weight: 700;
  margin: 1.45rem auto;
  width: 200px;
  height: 105px;
  border: 1px solid rgba(0, 0, 0, .2);
  text-align: center;
  border-radius: 5px;
}

#btnBack{
  width: 100px;
  height: auto;
  font-size: 20px;
  box-shadow: 0 0 30px #C25700;
  background-color: #442A00;
  border-radius: 5px;
  color: #C25700;
  font-family: var(--heading-font);
}

.searching{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 300px;
}

.recipeDetails{
  margin: 50px;
  background-color:#eee;
  text-align: center;
  padding: 50px;
}

.recipeDetails h2{
  width: 700px;
  text-align: center;
  margin-top: 50px;
}

.recipeDetails ul{
  list-style-type: none;
  margin-bottom: 30px;
}

.recipeDetails ol{
  list-style-type: none;
  margin-bottom: 30px;
}

.detailImg{
  width: 150%;
  margin-bottom: 30px;
}

@media only screen and (max-width: 900px) {
  nav  {
    display: block;
  }
  #logo_link:hover{
    background-color: #442A00;
  }
}

@media only screen and (max-width: 600px) {
  nav  {
    display: block;
  }
  #logo_link:hover{
    background-color: #442A00;
  }
  #subtitle{
    display: none;
  }
}